<h1>Ask the Coach!</h1>
<p>You are missing someone to talk to... here we go:)</p>

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="What is your question?">
  <input type="submit" value="Ask!">
</form>
